<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
​
​
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
​
​
<div class="blue-rectangle">
<div class="logo">
    <img src="../../../../assets/group.svg" alt="logo" height="30px" width="40px">
</div>
<div class="tyro">
    <p>tyro</p>
</div>
<div class="line">
​
</div>
<div class="goodEvening" >
    <p> New Post</p>
</div>
<div class="bell">
    <img src="../../assets/bell.svg" alt="bell" height="25px" width="20px">
</div>

<div class="newpost">
    <button (click)="onSelect()"><p>PUBLISH</p></button>
​
</div>
​
<div class="profile-image">
    <img src="https://images.pexels.com/photos/5475137/pexels-photo-5475137.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" 
    alt="profile-image" width=35px height=35px >
</div>
<div>
    
</div>
</div>
​
<div>
<div class='from'>
    <input class="first" type='text'  name='Title' class="text" placeholder="Title" >
</div>
<div>
    <textarea type='text'  name='Text' class="textarea" placeholder="Type something" ></textarea>
</div>
</div>





<div class="container-fluid"  *ngIf="flag">
    <div>
        <div class="cancel" (click)="onClick()">
            <img src="../../../assets/cancel.svg" style="height: 15px; width: 15px;">
        </div>
 <div class="Add">
     <p class="Add-upto-5-topics-so"> Add upto 5 topics so that readers know what your post is about</p>
</div>
<div class="Rectangle">


​<div class="form-container">
    <form [formGroup]="form1" >
        <div class="editor-tag" >
            <div class="tag-item" *ngFor="let tag of tags">
                  {{tag}}
                  <span class="remove-tag" (click)="removeTag(tag)">×</span>
                </div> 
                <input
                placeholder="Add Topics"
                #tagInput type="text"
                class="input-tag"
                (keyup)="onKeyUp($event)"
                formControlName="tag">
              
        </div>
</form>
</div> 
</div>
<div class="Rectangle2">
    <button class="btn btn-default"><p>PUBLISH</p></button>
</div>
 </div>
</div> 
 





  