
<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<div class="flex-container" >
   <div class="first-box">
      <div class="inside-blue">
         <div class="logo">
            <img src="../../assets/group.png" alt="logo">
         </div>
          <div class="tyro">
             <p>tyro</p>
          </div>
      </div>
   
  
   </div>
   <div class="second-box">
     <p class="medium">A medium clone</p>
     <p class="caption">Who says training projects don’t have to look pretty?</p>
     <div class="login-signup">
      <div class="Login">
         <a routerLink="/login"  routerLinkActive="active">LOGIN</a>&nbsp;
         </div>
        <div class="Signup"> 
         <a routerLink='/signup' routerLinkActive="active">SIGNUP</a>
        </div>

     </div>
     <div class="route">
     <router-outlet></router-outlet>
     </div>
   </div>
</div>