<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<div class="flex-container">
    <div class="title">
        
        <img src="../../../assets/profits.png" alt="image" width=40px height=20px>
        <p>TRENDING ON TYRO</p>
    </div>
    <div class="trending-topics">
      
        <div class="data" *ngFor="let data of trendingArticle;let i=index">
      
            <div class="top">
                <div class="index">
                    0{{i+1}}
                  </div>
                  <div class="profile-image">
                    <img src="{{url}}" width="20px" height="20px"> 
                  </div>
                  <div class="name">
                    <p>{{data.user.username}}</p>  
                  </div>
            </div>
          
          <div class="bottom">
              <div class="heading">
                {{data.postTitle}}
              </div>
           <div class="date">
            {{data.timestamp | date}}
           </div>
          
          </div>
        
        </div>
      
    </div>
    
</div>
<div class="line">

</div>

