

<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>


<div class="blue-rectangle">
<div class="logo">
    <img src="../../assets/group.svg" alt="logo" height="30px" width="40px">
</div>
<div class="tyro">
    <p>tyro</p>
</div>
<div class="line">

</div>
<div class="goodEvening">
    <p> Good evening</p>
</div>
<div class="bell">
    <img src="../../assets/bell.svg" alt="bell" height="25px" width="20px">
</div>
<div class="wishlist">
<img src="../../assets/wish-list.svg " alt="wish-list" height="25px" width="20px">
</div>
<div class="newpost">
    <button type="submit"><p>NEW POST</p></button>
</div>
<div class="profile-image">
    <img src="https://images.pexels.com/photos/5475137/pexels-photo-5475137.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" 
    alt="profile-image" width=35px height=35px >
</div>
</div>


