<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
<div class="flex-container">
    <div class="title">
        <p>TOPICS TO FOLLOW</p>
    </div>
      
        <div class="data" *ngFor="let topics of topicsData | slice:0:2;let i=index ">
           <div class="inside-data"> 
            <div class="topics">
                <p>{{topics.topicName}}</p>
              </div>
               <div *ngIf="!topics.following"  (click)='onFollow(topics.id,i)'  class="button-class">
               <button type="button">Follow</button>
           </div>
           
           <div *ngIf="topics.following" (click)='onUnFollow(topics.id,i)' class="button-class2">
            <button type="button">Following</button>
        </div>

           </div>
           <div class="line">
            
           </div>
           </div>
           <div class="see-more" (click)='onClick()'>
               <p>See More</p>
               
           </div>
           </div>


           <div *ngIf="seemore" class="more-people">
            <div class="sm-title">
              <div class="close" (click)="onClose()">
                &times;
              </div>
              <div class="sm-caption">
                
                <p><br><br>TOPICS TO FOLLOW</p>
                <div class="line1">
          
                </div>
              </div>
              
            </div>
           <div class="seemore-data">
             <div class="sub-container">
             <div class="seemore-main" *ngFor="let topics of topicsData;let i=index">
          
          <div class="left-side">
            <div class="sm-name-container">
                <p>{{topics.topicName}}</p>

            </div>
            
            <div *ngIf="!topics.following" (click)='onFollow(topics.id,i)' class="button-class1">
              <button type="button">Follow</button>
          </div>
          <div *ngIf="topics.following" (click)='onUnFollow(topics.id,i)' class="button-class2">
            <button type="button">Following</button>
        </div>


          </div>
          <div class="line2"></div>
        </div>
        
           </div>
          </div>
          <div class="footer">
              <p>All good things must come to a end</p>
          </div>
          </div>
          

           
           
              
           
         
       
           
       
        
   
