.flex-container
{
    margin-top:20px;
    margin-left:40px;
   
}
.title
{
    display:flex;
    flex-direction: row;
}
.title>p{
    margin-top: -5px;
    margin-left: 10px;
    font-family: 'Open Sans';
    
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#333333;
}

.trending-topics
{
    display:flex;
    margin-left:-35px;
    
}
.articles-container
{
    margin-left:40px;
}
.top
{
    display:flex;

}
.profile-image>img
{
    border-radius: 50%;
    margin-top:15px;
}
.name>p
{
    margin-top: 18px;
    margin-left:5px;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color:#333333;
}
.bottom
{
    display:flex;
    flex-direction: column;
    margin-left:-2px;
   
    margin-top: -10px;
}
.heading
{
  margin-top:10px;
  font-family:'Open Sans';
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#333333;
}
.date
{
    
 
  font-family:'Open Sans';
  font-size: 10px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#333333;
}
.content
{
  width:700px;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#333333;
}
